@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;700&display=swap');
@import url('https://cdn.jsdelivr.net/gh/toss/tossface/dist/tossface.css');

body{
  font-family:'Tossface', 'IBM Plex Sans KR';
  position:fixed;
  width:100vw;
  height:100dvh;
  margin:0;
  overflow:hidden;
  overscroll-behavior:none;
}
#show{
  box-sizing:border-box;
  width:300px;
  min-height:200px;
  margin:0 auto;
  margin-bottom:25px;
  border-radius:25px;
  box-shadow:#8C96A033 0px 2px 20px;
}
#words{
  padding:20px;
}
.unselected{
  display:inline-block;
  height:30px;
  border-radius:15px;
  padding-left:15px;
  padding-right:15px;
  margin-right:3px;
  margin-bottom:6px;
  background-color:#FFF;
  box-shadow: 0 0 0 1px #C8C8C8 inset;
}
.selected{
  display:inline-block;
  height:30px;
  border-radius:15px;
  padding-left:15px;
  padding-right:15px;
  margin-right:3px;
  margin-bottom:6px;
  background-color:#FFF;
  box-shadow: 0 0 0 1px #4C3BCF inset;
}
