@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;700&display=swap');

body{
  font-family:'IBM Plex Sans KR';
  position:fixed;
  width:100vw;
  height:100dvh;
  margin:0;
  padding-left:20px;
  padding-right:20px;
  overflow:hidden;
  overscroll-behavior:none;
}
input{
  font-size:16px;
}
#pas{
  box-sizing:border-box;
  width:300px;
  min-height:50px;
  margin:0 auto;
  margin-top:25px;
  margin-bottom:25px;
  padding:10px;
  border-radius:10px;
  border:2px solid #4C3BCF;
  border-bottom-width:4px;
}
#show{
  padding:20px;
}
#words{
  padding:20px;
}
.unselected{
  display:inline-block;
  height:30px;
  border-radius:15px;
  padding-left:15px;
  padding-right:15px;
  margin-right:3px;
  margin-bottom:6px;
  background-color:#FFF;
  box-shadow: 0 0 0 1px #C8C8C8 inset;
}
.selected{
  display:inline-block;
  height:30px;
  border-radius:15px;
  padding-left:15px;
  padding-right:15px;
  margin-right:3px;
  margin-bottom:6px;
  background-color:#FFF;
  box-shadow: 0 0 0 1px #4C3BCF inset;
}
